@font-face {
    font-family: Larken-demo;
    src: url('../Font/fonnts.com-Larken_Regular.otf');
}

@font-face {
    font-family: agaleoz-font;
    src: url('../Font/agaleoz.otf');
}

@font-face {
    font-family: playfire-display;
    src: url('../Font/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: playfire-italic;
    src: url('../Font/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: Bellina;
    src: url('../Font/Bellina-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}


:root {
    --hdr-top-bg: #c8a77f;
    --body-color: #212529;
    --primary-color: #FFFFFF;
    --secondary-color: #faead7;
    --tertiary-color: #000000;
    --border-image: #E5D1B9;
    --arrow-bg: linear-gradient(30deg, #e3c1ac, #d7a170);
    --larken-family: Larken-demo;
    --agaleoz-family: agaleoz-font;
    --playfire-font: playfire-display;
    --playfire-font2: playfire-italic;
    --bellina-family: Bellina;
}

body {
    background: url('../Assets/contactUs-bg.png') no-repeat center/cover !important;
}

/* contact-sec */
.contact-sec {
    padding-top: 150px;
}

.contact-cntnt {
    max-width: 774px;
}

.top-contact-cntnt>span {
    color: var(--border-image);
    font-size: 27px;
    font-family: var(--agaleoz-family);
    letter-spacing: 3px;
}

.top-contact-cntnt>.title-2 {
    font-size: 36px;
    font-family: var(--larken-family);
    color: var(--border-image);
    margin-top: 43px;
}

.top-contact-cntnt>p {
    font-size: 20px;
    font-family: var(--bellina-family);
    color: var(--border-image);
    margin-top: 19px;
}

.middile-cntnt {
    margin-top: 61px;
}

.middile-cntnt>span {
    color: var(--border-image);
    font-size: 27px;
    font-family: var(--agaleoz-family);
    letter-spacing: 3px;
    margin-bottom: 44px;
    display: inline-block;
}

.middile-cntnt>p {
    font-size: 20px;
    font-family: var(--larken-family);
    color: var(--border-image);
    letter-spacing: 4px;
}

.bottom-cntnt {
    margin-top: 61px;
    display: flex;
    align-items: center;
}

.contact-img {
    max-width: 238px;
    margin: 0 auto;
    margin-right: 30px;
}

.contact-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* .contact-sec {
    padding: 80px 15px;
    display: flex;
    justify-content: center;
} */

.contact-box {
    background: #e9c28f;
    padding: 40px 30px;
    width: 100%;
    max-width: 862px;
    border-radius: 6px;
    margin-left: auto;
}

/* input wrapper */
.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    max-width: 802px;
    width: 100%;
    padding: 33px 20px;
    border: none;
    background: #f6e1c8;
    color: #371E00;
    font-family: var(--bellina-family);
    font-size: 20px;
    outline: none;
}

.form-group textarea {
    min-height: 120px;
    resize: none;
}

/* placeholder style */
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #3a2a1a;
    letter-spacing: 3px;
    font-family: var(--bellina-family);
    font-size: 20px;
}

/* button */
.send-btn {
    background: #000;
    color: #fff;
    padding: 14px 28px;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: var(--bellina-family);
    margin-right: 12px;
}

.send-btn span {
    background: #fff;
    color: #000;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* location-sec */
.location-sec {
    padding-top: 127px;
}

.location-hdr>p {
    font-size: 22px;
    font-family: var(--agaleoz-family);
    color: var(--border-image);
    letter-spacing: 4px;
}

.location-hdr>.title-2 {
    font-size: 40px;
    font-family: var(--agaleoz-family);
    color: var(--border-image);
    letter-spacing: 2px;
}

.location-box {
    display: flex;
    align-items: center;
    max-width: 518px;
    margin-top: 20px;
}

.location-icon>span {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: var(--border-image);
    color: #572F00;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.location-cntnt>span {
    color: var(--border-image);
    font-size: 35px;
    font-family: var(--agaleoz-family);
    letter-spacing: 5.5px;
}

.location-cntnt>p {
    color: var(--border-image);
    font-size: 22px;
    font-family: var(--bellina-family);
}

/* map-sec */
.map-sec {
    padding: 46px 19px;
}

.map iframe {
    width: 100%;
    height: 600px;
    border: 0;
    border-radius: 10px;
}


@media screen and (max-width:992px) {
    .bottom-cntnt {
        align-items: start;
    }

    .contact-box {
        margin-top: 50px;
    }
}

@media (max-width: 576px) {
    .contact-box {
        padding: 25px 20px;
        margin-top: 30px;
    }

    .send-btn {
        width: 100%;
        justify-content: center;
    }

    .location-icon>span {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
}