@font-face {
    font-family: Larken-demo;
    src: url('../Font/fonnts.com-Larken_Regular.otf');
}

@font-face {
    font-family: agaleoz-font;
    src: url('../Font/agaleoz.otf');
}

@font-face {
    font-family: playfire-display;
    src: url('../Font/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: playfire-italic;
    src: url('../Font/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: Bellina;
    src: url('../Font/Bellina-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}


:root {
    --hdr-top-bg: #c8a77f;
    --body-color: #212529;
    --primary-color: #FFFFFF;
    --secondary-color: #faead7;
    --tertiary-color: #000000;
    --border-image: #E5D1B9;
    --arrow-bg: linear-gradient(30deg, #e3c1ac, #d7a170);
    --larken-family: Larken-demo;
    --agaleoz-family: agaleoz-font;
    --playfire-font: playfire-display;
    --playfire-font2: playfire-italic;
    --bellina-family: Bellina;
}

.body {
    background: url('../Assets/body-bg.png') no-repeat center/cover !important;
}

.luxury-container {
    max-width: 1595px !important;
}

.small-container {
    max-width: 1761px !important;
}

.hero-sec {
    background: #000;
    text-align: center;
    padding-top: 204px;
    padding-bottom: 32px;
}

.hero-sec>.title-2 {
    font-family: var(--agaleoz-family);
    margin-bottom: 42px;
}

.swiper {
    width: 80%;
}

.swiper-slide {
    opacity: .3;
    transition: all .6s ease;
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    width: 100%;
    height: 520px;
    max-width: 404px;
    object-fit: cover;
    border: 1px solid #444;
    transform: scale(.9);
    transition: all .6s ease;
}

/* active slide */
.swiper-slide-active {
    opacity: 1;
}

.swiper-slide-active img {
    transform: scale(1.1);
}


.swiper-pagination {
    margin-top: 30px;
    position: relative;
}

.swiper-pagination-bullet {
    width: 110px;
    height: 3px;
    border-radius: 0;
    background: #666;
    opacity: 1;
    margin-top: 32px !important;
    margin: 0 39px;
}

.swiper-pagination-bullet-active {
    background: var(--border-image);
}

.marquee {
    background: #e7d2b4;
    padding: 25px 0;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 20s linear infinite;
    font-size: 36px;
    font-family: var(--larken-family);
    color: #3a2a1b;
}

@keyframes scrollText {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* about-sec */

.about-sec {
    padding: 30px 0;
}

.about-img {
    max-width: 843px;
}

.about-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-cntnt>span {
    color: var(--border-image);
    font-size: 24px;
    font-family: var(--playfire-font);
    letter-spacing: 3px;
}

.about-cntnt>.title-2 {
    font-size: 64px;
    max-width: 573px;
    margin: 35px 0;
}

.about-cntnt>p {
    font-size: 24px;
    color: var(--border-image);
    font-family: var(--playfire-font);
    max-width: 894px;
    margin-bottom: 35px;
}


.counter-card {
    background: #FDDFBC;
    padding: 14px;
    color: var(--tertiary-color);
    max-width: 211px;
    text-align: center;
    font-family: var(--bellina-family);
    margin-top: 35px;
    border-radius: 5px;
}

.counter-card>span {
    font-size: 44px;
}

.counter-card>p {
    font-size: 21px;
    text-wrap: nowrap;
}

/* <!-- Details the page Section --> */

.details-sec {
    padding: 30px 0;
}

.detail-box {
    border: 1px solid var(--border-image);
    padding: 27px 22px;
    max-width: 447px;
    width: 100%;
}

.detail-box>span {
    display: block;
    font-size: 30px;
    font-family: var(--larken-family);
    color: #FDDFBC;
    margin: 20px 0;
}

.detail-box>p {
    font-size: 20px;
    color: #FDDFBC;
    font-family: var(--larken-family);
    max-width: 403px;
}

.details-icon {
    width: 46px;
    height: 44px;
    object-fit: contain;
}

/* luxury-sec */
.luxury-sec {
    padding: 40px 0;
}

.luxury-img {
    max-width: 888px;
    border-radius: 10px;
}

.luxury-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.luxury-cntnt>span {
    color: var(--border-image);
    font-size: 24px;
    font-family: var(--playfire-font);
    letter-spacing: 3px;
}

.luxury-cntnt>.title-3 {
    font-size: 45px;
    max-width: 708px;
    margin: 70px 0;
}

.luxury-btn {
    font-size: 35px;
    font-family: var(--playfire-font);
    color: #693D09;
    padding: 25px 35px;
    background: #F3CD9F;
    border-radius: 5px;
}

.luxury-btn:hover {
    color: #E5D1B9;
    background: #B26D1B;
    border: 1px solid #E5D1B9;
}

.luxury-arrow {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #B26D1B;
    color: #E5D1B9;
    font-size: 22px;
    overflow: hidden;
    transform: rotate(-30deg);
    margin-left: 23px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.luxury-arrow:hover {
    color: #B26D1B;
    background: #E5D1B9;
    border: 1px solid #E5D1B9;
}

.btn-know-more i {
    font-size: 14px;
}



@media screen and (max-width:1200px) {
    .marquee-content {
        font-size: 16px;
    }

    .marquee {
        padding: 8px 0;
    }
}

@keyframes scrollText {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 992px) {
    .marquee-content {
        font-size: 26px;
    }

    .marquee {
        padding: 8px 0;
    }

    /*luxury-sec  */
    .luxury-cntnt {
        margin-top: 30px
    }

    .luxury-cntnt>.title-3 {
        font-size: 35px;
    }
}

@media (max-width: 576px) {
    .marquee-content {
        font-size: 16px;
    }

    .marquee {
        padding: 8px 0;
    }

    /* about-sec */
    .about-cntnt>.title-2 {
        font-size: 40px;
    }

    .about-cntnt {
        margin-top: 20px;
    }

    .counter-card>span {
        font-size: 32px;
    }

    .counter-card>p {
        font-size: 16px;
    }

    .luxury-btn {
        font-size: 22px;
        padding: 18px 23px;
    }

    .luxury-arrow {
        width: 35px;
        height: 35px;
        font-size: 15px;
        margin-left: 8px;
    }
}

@keyframes scrollText {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}