@font-face {
    font-family: Larken-demo;
    src: url('../Font/fonnts.com-Larken_Regular.otf');
}

@font-face {
    font-family: agaleoz-font;
    src: url('../Font/agaleoz.otf');
}

@font-face {
    font-family: playfire-display;
    src: url('../Font/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: playfire-italic;
    src: url('../Font/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: Bellina;
    src: url('../Font/Bellina-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --hdr-top-bg: #c8a77f;
    --body-color: #212529;
    --primary-color: #FFFFFF;
    --secondary-color: #faead7;
    --tertiary-color: #000000;
    --border-image: #E5D1B9;
    --arrow-bg: linear-gradient(30deg, #e3c1ac, #d7a170);
    --larken-family: Larken-demo;
    --agaleoz-family: agaleoz-font;
    --playfire-font: playfire-display;
    --playfire-font2: playfire-italic;
    --bellina-family: Bellina;
}

body {
    background: url('../Assets/shopBG.png') no-repeat center / cover !important;
}

/* product-sec */

.product-sec {
    padding-top: 227px;
}

.product-sec>p {
    font-size: 36px;
    font-family: var(--bellina-family);
    color: var(--border-image);
    text-align: center;
    margin: 0 auto 36px;
}

.product-box {
    border: 1px solid var(--border-image);
    padding: 54px 0;
}

.product-img-box {
    max-width: 718px;
    margin: 0 auto;
}

.product-img {
    border: 1px solid var(--border-image);
    max-width: 692px;
}

.product-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.list-img {
    max-width: 157px;
    border: 1px solid var(--border-image);
    margin-right: 24px;
    margin-top: 54px;
}

.list-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-content {
    color: var(--border-image);
}

.first-cntnt>.title-2 {
    font-size: 40px;
    font-family: var(--larken-family);
}

.first-cntnt>p {
    font-size: 25px;
    font-family: var(--larken-family);
    font-weight: 100;
    color: rgba(229, 209, 185, 0.6);
}

.product-discount {
    border: 1px solid var(--border-image);
    display: inline-block;
    padding: 11.5px 15px;
    margin: 35px 0 25px;
}

.product-discount>p {
    font-size: 22px;
    font-family: var(--bellina-family);
}

.first-cntnt>span {
    display: block;
    font-size: 25px;
    font-family: var(--larken-family);
    font-weight: 100;
    margin-top: 35px;
}

.first-cntnt>.title-3 {
    font-size: 35px;
    font-family: var(--larken-family);
    margin-top: 64px;
}

.price-box {
    max-width: 347px;
}

.price {
    margin-right: 24px;
    margin-top: 14px;
}

.price>p {
    font-size: 27px;
    font-family: var(--larken-family);
    font-weight: 100;
}

.price>span {
    font-size: 20px;
    font-family: var(--larken-family);
    color: rgba(229, 209, 185, 0.6);
}

.cart-action {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
}

.qty-box {
    display: flex;
    border: 1px solid #c9a892;
}

.qty-box button,
.qty-box span {
    width: 80px;
    height: 80px;
    background: transparent;
    border: none;
    color: #e2c0aa;
    font-family: var(--bellina-family);
    font-size: 32px;
}

.qty-box button {
    cursor: pointer;
}

.qty-box span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #c9a892;
    border-right: 1px solid #c9a892;
}

.continue-btn {
    padding: 22.5px 92.5px;
    background: #d4b29b;
    color: #422706;
    border: none;
    font-size: 25px;
    font-family: var(--bellina-family);
    cursor: pointer;
}
.continue-btn:hover{
    background:var(--hdr-top-bg);
    color: var(--tertiary-color);
}

/* details-sec */

.product-details-sec {
    border: 1px solid var(--border-image);
    padding: 68px 0;
    margin: 58px 0;
}

.details-title {
    font-size: 50px;
    font-family: var(--larken-family);
    color: #E5D1B9;
}

.details-title-2 {
    font-size: 35px;
    font-family: var(--larken-family);
    color: #E5D1B9;
}

.details-list {
    margin-top: 35px;
}

.details-cntnt {
    margin-top: 50px;
}

.details-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details-item>span {
    font-size: 32px;
    font-family: var(--larken-family);
    color: #E5D1B9;
}

.details-item>p {
    font-size: 20px;
    font-family: var(--larken-family);
    color: #E5D1B9;
}

/* description-sec */

.description-sec {
    padding: 37px 0;
    border: 1px solid var(--border-image);
}

.description-title {
    display: flex;
    align-items: center;
}

.description {
    font-size: 36px;
    color: var(--border-image);
    font-family: var(--larken-family);
    margin-right: 70px;
    border-bottom: 2px solid var(--hdr-top-bg);
}

.information {
    font-size: 36px;
    color: var(--border-image);
    font-family: var(--larken-family);
}

.description-cntnt {
    max-width: 1739px;
}

.description-cntnt>p {
    color: #FFEBD3;
    font-family: var(--larken-family);
    font-size: 36px;
    margin-top: 38px;
    margin-bottom: 70px;
}

/* related-product-sec */
.related-product-title>p {
    font-size: 40px;
    font-family: var(--larken-family);
    color: var(--border-image);
    margin-top: 29px;
}

.related-product-title>span {
    font-size: 25px;
    font-family: var(--larken-family);
    color: var(--border-image);
}

@media screen and (max-width:1200px) {
    .product-sec>p {
        font-size: 18px;
    }

    .details-title {
        font-size: 32px;
    }

    .details-item>span {
        font-size: 22px;
    }

    .details-item>p {
        display: none;
    }

    .details-title-2 {
        font-size: 25px;
    }

    .description-cntnt>p {
        font-size: 18px;
    }

    .information {
        display: none;
    }

    .cart-action {
        flex-direction: column;
        align-items: flex-start;
    }

    .continue-btn {
        width: 100%;
    }
}