@font-face {
    font-family: Larken-demo;
    src: url('../Font/fonnts.com-Larken_Regular.otf');
}

@font-face {
    font-family: agaleoz-font;
    src: url('../Font/agaleoz.otf');
}

@font-face {
    font-family: playfire-display;
    src: url('../Font/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: playfire-italic;
    src: url('../Font/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: Bellina;
    src: url('../Font/Bellina-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --hdr-top-bg: #c8a77f;
    --body-color: #212529;
    --primary-color: #FFFFFF;
    --secondary-color: #faead7;
    --tertiary-color: #000000;
    --border-image: #E5D1B9;
    --arrow-bg: linear-gradient(30deg, #e3c1ac, #d7a170);
    --larken-family: Larken-demo;
    --agaleoz-family: agaleoz-font;
    --playfire-font: playfire-display;
    --playfire-font2: playfire-italic;
    --bellina-family: Bellina;
}

body {
    background: url('../Assets/shopBG.png') no-repeat center / cover !important;
}


button,
input,
textarea {
    border: none;
    outline: none;
}

/* shop-sec */
.shop-sec {
    padding-top: 272px;
}

.shop-cntnt {
    max-width: 1117px;
    margin: 0 auto;
    color: var(--border-image);
    font-family: var(--bellina-family);
    text-align: center;
}

.shop-cntnt>.title-2 {
    font-size: 32px;
    font-family: var(--bellina-family);
}

.shop-cntnt>p {
    font-family: var(--bellina-family);
    font-size: 25px;
    max-width: 1050px;
    margin-top: 54px;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    width: auto;
}


.categorySlider {
    background: #2a221c;
    padding: 5px 0;
    margin-top: 53px;
}

.cat-item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto !important;
}

.cat-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.cat-item span {
    color: #f2e6c9;
    font-size: 32px;
    font-family: var(--bellina-family);
    white-space: nowrap;
    margin-left: 21px;
}

.categorySlider .swiper-wrapper {
    transition-timing-function: linear !important;
}

.shop-btm {
    padding: 50px 0;
}

.left-box {
    background: rgba(248, 228, 204, 0.3);
    padding: 43px 31px;
    margin-bottom: 55px;
}

.srch-Box {
    border-bottom: 1px solid #F3E8DB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F3E8DB;
    padding: 12px 0;
}

.srch-input {
    background: transparent;
    color: #F3E8DB;
    font-size: 20px;
    width: 100%;
}

.srch-Box>label {
    font-size: 27px;
    color: #F3E8DB;
    cursor: pointer;
}

.srch-input::placeholder {
    color: #F3E8D8;
    font-family: var(--bellina-family);
    opacity: 1;
}

.left-box>.title-2 {
    font-size: 35px;
    font-family: var(--bellina-family);
    margin: 41px 0;
}

.searchlist-item {
    border-bottom: 1px solid #F3E8DB;
    margin-bottom: 40px;
}

.srch-btns {
    color: #F3E8DB;
    font-size: 25px;
    font-family: var(--bellina-family);
    width: 100%;
}

.tags-btn {
    background: #F3E8DB;
    color: #7D4400;
    font-size: 17px;
    font-family: var(--bellina-family);
    border: none;
    padding: 10px 18px;
    margin: 5px;
}

.price-filter>.title-2 {
    margin: 14px 0;
    font-size: 35px;
    font-family: var(--bellina-family);
}

.price-title {
    font-size: 17px;
    font-family: var(--bellina-family);
    color: #F3E8DB;
}

.price-filter input[type="range"] {
    width: 100%;
    height: 4px;
    background: #F3E8DB;
    border-radius: 2px;
    outline: none;
    appearance: none;
    cursor: pointer;
    margin-bottom: 14px;
}

.right-cntnt>p {
    font-family: var(--bellina-family);
    color: #FFE3C0;
    font-size: 25px;
}

.view-btn {
    color: #E5D1B9;
    width: 51px;
    height: 44px;
    border: 1px solid rgba(229, 209, 185, 0.5);
    margin-left: 10px;
}

.view-btn.active {
    color: #7D4400;
    background: #FFE3C0;
    width: 51px;
    height: 44px;
    margin-right: 10px;
}

.dropdown {
    color: #6D3F07;
    font-family: var(--bellina-family);
    font-size: 20px;
    background: #E5D1B9;
    padding: 16px 8px;
}

.right-top-btn {
    display: flex;
    align-items: center;
    align-items: center;
}

.shop-card {
    max-width: 387px;
    margin: 37px auto;
}

.shopcard-img {
    max-width: 387px;
    cursor: pointer;
}

.shopcard-img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.shopcard-cntnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 33px 0 27px;
}

.shopcard-item {
    font-size: 20px;
    color: var(--border-image);
    font-family: var(--bellina-family);
    letter-spacing: 2.2px;
}

.cardprice>p {
    color: #E5D1B9;
    font-family: var(--bellina-family);
    font-size: 17px;
}

.addto-cart {
    color: #E5D1B9;
    background: rgba(229, 209, 185, 0.4);
    padding: 5px 8px;
    font-family: var(--bellina-family);
    font-size: 17px;
}

.pagination-box {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.page-btn {
    width: 70px;
    height: 70px;
    border: 1px solid #cbb79c;
    color: #cbb79c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 22px;
}

/* active button */
.page-btn.active {
    background: #d8c1a5;
    color: black;
}

/* hover effect */
.page-btn:hover {
    background: #d8c1a5;
    color: black;
}

.page-btn svg {
    width: 24px;
    height: 24px;
}






@media screen and (max-width:1200px) {}



@media (max-width: 992px) {

    /* footer-sec */
    .footer-navigation {
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .right-cntnt {
        flex-direction: column;
    }

    .right-cntnt>p {
        font-size: 16px;
    }
}